<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">NEWS FEED.beta</a>
</div>

<div class="searchForm">

    <div class="jumbotron">
        <div class="container">
            <h1>Search for articles!</h1>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">@</span>
                <input type="text" placeholder="Search for..." class="form-control"
                       aria-describedby="sizing-addon1" data-ng-model="search">
            </div>
        </div>
    </div>

    <div class="searchResult">
        <a data-ui-sref="article({id: article.id})" data-ng-repeat="article in articles | searchFilter: search | limitTo: 5" data-ng-show="search">
        <div class="well">
            <div class="row-fluid">
                <h2>[[article.title]]</h2>
                <p><img data-ng-src="[[article.image]]" class="searchImage" /></p>
                <p>[[article.text | limitTo: 100]] [[article.text.length > 100 ? '...' : '']]</p>
                <p><h3><span class="pull-right label label-primary">View details &raquo;</span></h3></p>
            </div>
        </div>
        </a>
    </div>

    <div class="noResult" data-ng-if="search && !searchResult.length">
        <p>NO MORE SEARCH RESULT</p>
    </div>

</div>